
<h1>Insta_Pho_gram </h1>
<h2><%= link_to "Create New Post", new_post_path%></h2>
<br>
<%  @posts.each  do |post|%>
<br>
<%= image_tag post.image.url(:medium)%>

<br>
<p>Posted by - <%= post.user.email %> </p>
<h2><%= post.caption %></h2>
<% end %>
